.text-formatter-button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 2px;
    color: white;
    border-radius: 2px;
    height: 28px;
}
.text-formatter-button:hover {
    background-color: #616161
}
#highlightTooltip {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    border-radius: 4px;
    position: fixed;
    display: none;
    background-color: #212121;
    padding: 8px;
    height: 44px;
}